# Top Ranking Content Pages Using Python

Scraping Google for the competitors' content and queries

Source: https://medium.com/programminghero/spy-on-ranked-pages-in-google-search-for-your-search-term-using-python-897af08cdb22

By Lee-Ann Moore

In [1]:
#Install Google 
!pip install google

Requirement already satisfied: google in c:\python anaconda\lib\site-packages (3.0.0)
Requirement already satisfied: beautifulsoup4 in c:\python anaconda\lib\site-packages (from google) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\python anaconda\lib\site-packages (from beautifulsoup4->google) (2.2.1)

In [2]:
#Import search from googlesearch and pandas
from googlesearch import search
import pandas as pd

# Investment Management Related Content

In [3]:
#Using a from the related queries list create a variable called query1.
query1 = "what is investment management"

#Create an empty list for the list of urls that you will later append to get the search results.
list_of_urls1 = []

#Create an empty list for content ranking
contentlist1 = []

#Put the query string in the search function of the google search library and appended the results in the string by using a loop function. Here it will loop 5 times because of num=5 gving 5 results. 
for results in search(query1, tld="com", lang="en", num=5, stop=5, pause=2):
    list_of_urls1.append(results)

In [4]:
#Add the query as the first item of the list_of_urls and a nested list of content list.
list_of_urls1.insert(0,query1)
contentlist1 = [list_of_urls1]
content1 = pd.DataFrame(contentlist1, columns = ['Query','Rank1','Rank2','Rank3','Rank4','Rank5'])
content1

,Query,Rank1,Rank2,Rank3,Rank4,Rank5
0,what is investment management,https://www.investopedia.com/terms/i/investmen...,https://www.predictiveanalyticstoday.com/what-...,https://en.wikipedia.org/wiki/Investment_manag...,https://www.nerdwallet.com/article/investing/w...,https://www.brightnetwork.co.uk/career-path-gu...

# Personal Finance Related Content

In [5]:
#Using a from the related queries list create a variable called query2.
query2 = "personal finance software"

#Create an empty list for the list of urls that you will later append to get the search results.
list_of_urls2 = []

#Create an empty list for content ranking
contentlist2 = []

#Put the query string in the search function of the google search library and appended the results in the string by using a loop function. Here it will loop 5 times because of num=5 gving 5 results. 
for results in search(query2, tld="com", lang="en", num=5, stop=5, pause=2):
    list_of_urls2.append(results)

In [6]:
#Add the query as the first item of the list_of_urls and a nested list of content list.
list_of_urls2.insert(0,query2)
contentlist2 = [list_of_urls2]
content2 = pd.DataFrame(contentlist2, columns = ['Query','Rank1','Rank2','Rank3','Rank4','Rank5'])
content2

,Query,Rank1,Rank2,Rank3,Rank4,Rank5
0,personal finance software,https://www.thebalance.com/best-personal-finan...,https://www.thebalance.com/top-8-free-personal...,https://www.thebalance.com/best-personal-finan...,https://www.thebalance.com/best-expense-tracke...,https://www.thebalance.com/ynab-vs-mint-5095744

# Virtual Cards Related Content

In [7]:
#Using a from the related queries list create a variable called query3.
query3 = "virtual credit cards"

#Create an empty list for the list of urls that you will later append to get the search results.
list_of_urls3 = []

#Create an empty list for content ranking
contentlist3 = []

#Put the query string in the search function of the google search library and appended the results in the string by using a loop function. Here it will loop 5 times because of num=5 gving 5 results. 
for results in search(query3, tld="com", lang="en", num=5, stop=5, pause=2):
    list_of_urls3.append(results)

In [8]:
#Add the query as the first item of the list_of_urls and a nested list of content list.
list_of_urls3.insert(0,query3)
contentlist3 = [list_of_urls3]
content3 = pd.DataFrame(contentlist3, columns = ['Query','Rank1','Rank2','Rank3','Rank4','Rank5'])
content3

,Query,Rank1,Rank2,Rank3,Rank4,Rank5
0,virtual credit cards,https://www.cnet.com/personal-finance/credit-c...,https://www.creditkarma.com/credit-cards/i/vir...,https://stripe.com/issuing,https://privacy.com/virtual-card,https://wallethub.com/edu/cc/virtual-credit-ca...

# Digital Wallet Related Content

In [9]:
#Using a from the related queries list create a variable called query4.
query4 = "digital wallet crypto"

#Create an empty list for the list of urls that you will later append to get the search results.
list_of_urls4 = []

#Create an empty list for content ranking
contentlist4 = []

#Put the query string in the search function of the google search library and appended the results in the string by using a loop function. Here it will loop 5 times because of num=5 gving 5 results. 
for results in search(query4, tld="com", lang="en", num=5, stop=5, pause=2):
    list_of_urls4.append(results)

In [10]:
#Add the query as the first item of the list_of_urls and a nested list of content list.
list_of_urls4.insert(0,query4)
contentlist4 = [list_of_urls4]
content4 = pd.DataFrame(contentlist4, columns = ['Query','Rank1','Rank2','Rank3','Rank4','Rank5'])
content4

,Query,Rank1,Rank2,Rank3,Rank4,Rank5
0,digital wallet crypto,https://www.cnet.com/personal-finance/crypto/t...,https://www.coinbase.com/learn/crypto-basics/w...,https://money.com/best-crypto-wallets/,https://www.investopedia.com/best-bitcoin-wall...,https://www.investopedia.com/best-bitcoin-wall...

# Financial Planning Related Content

In [11]:
#Using a from the related queries list create a variable called query5.
query5 = "retirement financial planning"

#Create an empty list for the list of urls that you will later append to get the search results.
list_of_urls5 = []

#Create an empty list for content ranking
contentlist5 = []

#Put the query string in the search function of the google search library and appended the results in the string by using a loop function. Here it will loop 5 times because of num=5 gving 5 results. 
for results in search(query5, tld="com", lang="en", num=5, stop=5, pause=2):
    list_of_urls5.append(results)

In [12]:
#Add the query as the first item of the list_of_urls and a nested list of content list.
list_of_urls5.insert(0,query5)
contentlist5 = [list_of_urls5]
content5 = pd.DataFrame(contentlist5, columns = ['Query','Rank1','Rank2','Rank3','Rank4','Rank5'])
content5

,Query,Rank1,Rank2,Rank3,Rank4,Rank5
0,retirement financial planning,https://www.investopedia.com/articles/retireme...,https://www.investopedia.com/articles/retireme...,https://www.investopedia.com/articles/retireme...,https://www.dol.gov/sites/dolgov/files/ebsa/ab...,https://www.nerdwallet.com/article/investing/r...

# Merge Data Frames Together

In [13]:
#Merge the data by the rows on the keyword column using the pd.concat() function
merged_content = pd.concat([content1, content2, content3, content4, content5], axis=0)
merged_content

,Query,Rank1,Rank2,Rank3,Rank4,Rank5
0,what is investment management,https://www.investopedia.com/terms/i/investmen...,https://www.predictiveanalyticstoday.com/what-...,https://en.wikipedia.org/wiki/Investment_manag...,https://www.nerdwallet.com/article/investing/w...,https://www.brightnetwork.co.uk/career-path-gu...
0,personal finance software,https://www.thebalance.com/best-personal-finan...,https://www.thebalance.com/top-8-free-personal...,https://www.thebalance.com/best-personal-finan...,https://www.thebalance.com/best-expense-tracke...,https://www.thebalance.com/ynab-vs-mint-5095744
0,virtual credit cards,https://www.cnet.com/personal-finance/credit-c...,https://www.creditkarma.com/credit-cards/i/vir...,https://stripe.com/issuing,https://privacy.com/virtual-card,https://wallethub.com/edu/cc/virtual-credit-ca...
0,digital wallet crypto,https://www.cnet.com/personal-finance/crypto/t...,https://www.coinbase.com/learn/crypto-basics/w...,https://money.com/best-crypto-wallets/,https://www.investopedia.com/best-bitcoin-wall...,https://www.investopedia.com/best-bitcoin-wall...
0,retirement financial planning,https://www.investopedia.com/articles/retireme...,https://www.investopedia.com/articles/retireme...,https://www.investopedia.com/articles/retireme...,https://www.dol.gov/sites/dolgov/files/ebsa/ab...,https://www.nerdwallet.com/article/investing/r...

# Creating An Excel Sheet for Top Ranking Content Pages

In [14]:
# Import xlwt, ExcelWriter, and xlsxwriter to turn dataframes into excel files for Tableau portion of the capstone
import xlwt
from xlwt.Workbook import *
from pandas import ExcelWriter
import xlsxwriter

In [15]:
# Create an excel sheet for merged_content and call it 'Top Ranking Content'
writer = pd.ExcelWriter('Top Ranking Content.xlsx', engine='xlsxwriter')

merged_content.to_excel(writer, sheet_name='Content')

writer.save()